p{
    color:rgb(0,118,0);
    font-weight:bold;
    font-size:20px;
}
.paragraph{
color:black;
font-weight:bold;
}
h2{
font-weight:bold;
}
.cart{
background-color: rgb(255,216,20);
color:black;
height:40px;
width:140px;
border-radius:20px;
border:none;
margin-right:10px;
font-weight:bold;
font-size:15px;
}
.buy{
background-color: rgb(255,164,28);
color:black;
height:40px;
width:140px;
border-radius:20px;
border:none;
font-weight:bold;
font-size:15px;
}
a{
 color:rgb(0,133,133);
 font-size:20px;

}
